/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/

.page_box { width: 100%; max-width: 100%; min-height: 90%; height: 90%;  }

.page_box_background_start { background: transparent url(../img/local_store.jpg) center center no-repeat; background-size: cover; }

#main-headline { color: white; font-weight: 700; }
#main-overlay { position: absolute; top: 0; width: 100%; height: 100%; z-index: 1; background-color: rgba(235, 175, 0, 0.75); }

.page_box_background_start { background: transparent url(../img/local_store.jpg) center center no-repeat; background-size: cover; }

.shadow-emboss { text-shadow: 0 -1px 1px #FFFFFF, 0 1px 1px #666666; }
.shadow-inset { text-shadow: 0 -1px 1px #666666, 0 1px 1px #FFFFFF; }
.shadow-close-and-heavy { text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1); }
